<div class="container">
    <label id="h3d" for="basic-url" class="form-label">Productos</label>
    <br>
    <table class="table table-primary">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Código</th>
                <th scope="col">Stock</th>
                <th scope="col">Icono</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mantequilla suprema</td>
                <td>1234AB23f</td>
                <td>10</td>
                <td>[imagen]</td>
                <td><button type="button" class="btn btn-success">Información</button></td>
                
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>.</td>
                <td>.</td>
                <td>.</td>
                <td>[imagen]</td>
                <td><button type="button" class="btn btn-success">Información</button></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">.</td>
                <td>.</td>
                <td>[imagen]</td>
                <td><button type="button" class="btn btn-success">Información</button></td>
            </tr>
        </tbody>
    </table>
</div>
