<div class="container">
    <label id="h3d" for="basic-url" class="form-label">Productos
        <form (submit)="buscar()" class="d-flex">
            <input [(ngModel)]="buscado" name="buscado" class="form-control me-2" type="search" placeholder="Buscar"
                aria-label="Buscar">
            <button class="btn btn-success" type="submit">Buscar</button>
        </form>
    </label>
    <br>
    <!-- una variable compartida y un ngif -->
    <table class="table table-primary ">
        <thead>

            <tr>
                <th scope="col">#</th>
                <th scope="col">Icono</th>
                <th scope="col">Pintura</th>
                <th scope="col">Contenido</th>
                <th scope="col">Stock</th>
                <th scope="col">Precio</th>
                <th scope="col">Acción</th>

            </tr>
        </thead>
        <tbody *ngFor="let item of pinturasService.listita_pinturitas['pinturas']">
            <!-- productosService.lista_productos['productos'] -->
            <!-- *ngIf="item.nombre == buscado" -->

            <tr *ngIf="item.nombre == buscado || item.id == buscado || buscado == null || buscado == ''">
                <th scope="row">{{item.id}}</th>
                <td> <img src="assets/img/{{item.nombre}}.jpg" style="width: 100px; height: 100px"
                        alt="[imagen no encontrada]"> </td>
                <td>{{item.nombre}}</td>
                <td> {{item.contenido}} galon/es</td>
                <td> {{item.cantidad}} </td>
                <td>${{item.precio}}</td>
                <td>
                    <button (click)="updateInfo(item.id)" type="submit" class="btn btn-success"
                        routerLinkActive="active" routerLink="/Info">Información</button> <br>

                    <hr>
                    <button type="button" (click)="agregarCarrito(item.id, item.precio)"
                        class="btn btn-success">Comprar</button>

                </td>
            </tr>


        </tbody>
    </table>

    <label id="h3d" for="basic-url" class="form-label">Carrito de Compras y Pago</label>

    <app-base [Lista_Pintura]="pinturasService.listita_pinturitas['pinturas']" [carrito_Ids]="carrito_Compras" [total_Compra]="total"> </app-base>

    



    
    <!--   <app-productohijo [lista]="lista_Pint" [ejemplo]="Ejemplo"></app-productohijo> -->
    
</div>