<nav class="navbar navbar-expand-lg navbar-light nav-color">
    <div class="container-fluid">
        <!-- <img src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="NaN" width="30" height="24"> -->
        <label id="Tituloid" class="navbar-brand" href="#">Tiendita</label>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLinkActive="active" routerLink="">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLinkActive="active" routerLink="producto">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Promociones</a>
                </li>
                <li class="nav-item d-flex">
                    <a class="nav-link disabled">Contacto</a>
                </li>
                <li class="nav-item right">
                    <a class="nav-link active" routerLinkActive="active" routerLink="Login">Log in</a>
                </li>
            </ul> 
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
                <button class="btn btn-success" type="submit">Buscar</button>
            </form>
        </div>
    </div>
</nav>
<!-- href para links externos y routerLink rutas internas-->