<div class="container">
    <label id="h1d" for="basic-url" class="form-label">Registrarse</label>
    <div class="input-group mb-3">
        <span class="input-group-text" id="input1">Nombre Usuario: </span>
        <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="input2">Email: </span>
        <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="input-group  mb-3">
        <span class="input-group-text" id="input3">Contraseña: </span>
        <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="input4">Confirmar contraseña: </span>
        <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
    </div>

    <a id="registrarse" type="button" class="btn btn-primary" href="Login"> Volver </a>
    <button class="btn btn-success" type="submit" disabled> Registrarse </button>


</div>