

<div class="container">
    <div>
        <label id="h2d" for="basic-url" class="form-label">Log in</label>
        <br>
        <label for="" class="">Nombre Usuario: </label>
        <input id="Usuarioid" type="text" class="nota form-control condicion">
        <label for="" class="">Contraseña: </label>
        <input id="Contrasenaid" type="text" class="nota form-control condicion">
        <a id="registrarse" type="button" class="btn btn-primary" href="registrarse"> Registrarse </a>
        <a id="Log" type="button" class="btn btn-primary" > Entrar </a>
        <br>
    </div>
</div>
