<p>direccion works!</p>
<div>
    <form (ngSubmit)="insertarDatosDir()">
        <h2>Registro de Dirección de Envío</h2>
        <div class="mb-3">
            <label for="pais" class="form-label">País</label>
            <input [(ngModel)]="pais" name="pais" type="text" class="form-control" id="nombre" placeholder="País"
                aria-describedby="nombreHelp">
        </div>
        <div class="mb-3">
            <label for="calle" class="form-label">Calle</label>
            <input [(ngModel)]="calle" name="calle" type="text" class="form-control" id="apellido"
                placeholder="Calle" aria-describedby="apellidoHelp">
        </div>
        <div class="mb-3">
            <label for="ciudad" class="form-label">Ciudad</label>
            <input [(ngModel)]="ciudad" name="ciudad" type="text" class="form-control" id="email"
                placeholder="Ciudad" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="region" class="form-label">Región</label>
            <input [(ngModel)]="region" name="region" type="text" class="form-control" id="password"
                placeholder="Región">
        </div>
        <div class="mb-3">
            <label for="codigo" class="form-label">Codigo Postal</label>
            <input [(ngModel)]="codigo" name="codigo" type="number" class="form-control" id="password"
                placeholder="Codigo Postal">
        </div>
        <button type="submit" class="btn btn-success">Registrar datos</button>

    </form>

</div>